*{
    padding: 0;
    margin: 0;
}

*::-webkit-scrollbar {display: none;}




.photoDayCard{
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.35);
    overflow: hidden;
    }


.main-photo-container{
  width: 50%;height: 100%;overflow: hidden;
}

.photoPrincipal{
height: 100%;
    
    }

.info-container{
    height: 100%;
    width: 50%;
    padding: 50px 100px;
    color: white;
    left: 0;
    z-index: 2;
    overflow: auto;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    transition: all 1s;
    text-align: left;
    }

.info-container h1{
    font-size: 2rem;
}

.info-container h3{
    font-size: 1.5rem;
}

.info-container p{
    padding: 50px 0;
    font-size: 1rem;
}

@media (max-width: 767px) {

}