h4{
    font-size: 2rem;

    }
.main-page-background{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #000000,   #1c3343,   #513e54);
    }

.main-page-container{
    display: flex;
    flex-direction: row;
    height: 85%;
    width: 85%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 15px #513e54;
    border-radius: 10px;
    padding: 1%;
}

.morePhotos{
    overflow: auto;
    }
.weekPhotos{
    display: flex;
    flex-direction: column;
    }